<h1> Terms of Service </h1>



Please read these Terms of Service fully and carefully before using www.HiOscar.com and the services, features, content or applications offered therein. These Terms of Service set forth the legally binding terms and conditions for your use of the site and the services provided by Oscar.
Legal Disclaimers

You understand and agree that the health information and other content appearing on HiOscar.com or developed with your input or the input of our Business Associates is for informational purposes only. Oscar does not make and hereby disclaims any and all warranties, express or implied, as to the reliability, accuracy, timeliness, usefulness or completeness of any content appearing on the website. The information provided is not a substitute for professional health care and is not meant to replace the advice of a health care professional. It is not intended to advocate the use of one treatment or drug over another – only your medical professional can determine the right course of treatment for you and determine what is safe, appropriate and effective based on your needs. You should see your healthcare provider for any medical condition. This site is not meant to diagnose or treat. Consult your physician before taking any drug, changing your diet, starting or stopping any course of treatment or starting a new fitness regimen.

Legal notices including, but not limited to, your contract/certificate of coverage, schedule of benefits and any HIPAA notices may be downloaded from HiOscar.com, but they may not be changed or deleted as such would constitute fraud.

The Terms of Service set forth herein shall apply to any and all of your uses of HiOscar.com and shall survive in the event that you terminate your contract with Oscar or terminate your web access.

These Terms of Service shall be governed by and construed in accordance with the laws of the State of New York. You agree that any legal action or proceeding between Oscar and you for any purpose concerning these Terms of Service or your web access or any obligations of you or Oscar hereunder shall be brought exclusively in a court of competent jurisdiction sitting in New York County, New York. Oscar’s failure to insist upon or enforce strict performance of any provision of these Terms of Service shall not be construed as a waiver of any provision or right. The course of conduct between you and Oscar shall not act to modify any provision of these Terms of Service. Oscar may assign its rights and duties hereunder to any third party at any time without notice to you. We reserve the right, in our sole discretion, to modify or replace any of these Terms of Service, or change, suspend, or discontinue the services (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the site or by sending you notice through the services, via e-mail or by another appropriate means of electronic communication. Your continued use of the site or services following notification of any changes to these Terms of Service constitutes acceptance of those changes.

We may deliver notice to you concerning these Terms of Service by means of electronic mail, by a general notice posted on the website, or by written communication delivered by first-class U.S. mail to your address on record in our files.

You represent that you have properly identified yourself by entering your own name and personal identifiers when registering for this site and not those of any other person.

You shall defend, indemnify, and hold harmless us, our affiliates and each of our and their respective employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to your use or misuse of, or access to, the services and content we offer, violation of these Terms of Service, or infringement by you, or any third party using your identity in the services, of any intellectual property or other right of any person or entity. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses.

IN NO EVENT SHALL WE, NOR OUR DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICES (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, COMPENSATORY OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) OF THE GREATER OF (A) FEES PAID TO US FOR THE PARTICULAR SERVICES DURING THE IMMEDIATELY PREVIOUS THREE (3) MONTH PERIOD OR (B) $100.00.
Additional Information Related to Prescription Drug Information provided by Wolters Kluwer Health, Inc.,

The information below applies to drug information provided by Wolters Kluwer Health Inc. and presented on Oscar?s website; this includes, but is not limited to, certain information provided about drug overviews, interactions, doses, warnings and prices which has specifically been licensed from Wolters Kluwer Health Inc. and for which Oscar?s only source for this information is Wolters Kluwer Health, Inc.

This drug information:

    is intended and presented only for general, non-comprehensive, informational purposes to provide limited support to the verbal information transfer by healthcare professionals and is specifically not intended for clinical or health care decision making;
    is not intended as, and cannot not be used as, a substitute for the diagnosis, expertise, treatment, advice, interaction with, and judgment of a physician, pharmacist or other healthcare professional;
    is subject to change without notice;
    is not comprehensive and does not cover all uses, drug combinations, doses, precautions, side effects, warnings, and interactions related to pharmaceuticals or treatments;
    may not apply to any specific medical condition;
    does not take into account personal circumstances and should not be relied upon or construed to indicate that a use of a drug or treatment is safe, appropriate, or effective for a given individual and a health care professional should be consulted before taking or discontinuing a drug mentioned in the information presented or before relying on the information;
    is only applicable to use in the United States and its territories and to pharmaceuticals available in the United States and its territories;
    does not constitute medical advice;