/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */


/*******Navigation********/
header {
width: 100%;
position:fixed;
height:60px;
background-color:#f1f2f2;
top:0px;
left:0px;
right:0px;

}
.nav{
  position: relative;
  top: 0px;
  padding: 10px 15px 10px;

}
img{
  float: left;
  margin: 25px;
}

.dropdown-menu li {
  display: inline;
  padding: 10px 15px 10px;
  color: #204056;
  text-decoration: none;
  font-weight:normal;
  float:left;
}

.basic-nav{
  display: inline;
  padding: 10px 15px 10px;
  color: #204056;
  text-decoration: none;
  font-weight:normal;
  float:right;
}
.signed-in-nav{
  width: 100%;
  position:fixed;
  height:60px;
  background-color:#f1f2f2;
  top:0px;
  left:0px;
  right:0px;

}
/**********homepage**********/


.website_page{
  font-family:'Helvetica';
  margin: 50px 0;
  color: #204056;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom:5px;
  line-height:1.5em;
}
.soleteam {
  display:inline;
  color:#f65a5b;
}

/**********Sign In Page**********/


.sign_in {
  font-family:'Helvetica';
  margin: 50px 0;
  color: #204056;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 1em;
  padding:10px;
}

.sign_in input {
  padding:10px;
  border-radius:5px;
  font-size:inherit;
}

.sign_in input[type="text"] {
  display:block;
  text-align: center;
  margin-bottom:25px;
  margin:#;
  width:100%;
  border:10px solid steelblue;
}

.sign_in input[type="submit"] {
    width: 233px;
    height:45px;
    background-color:#f65a5b;
    color:white;
    padding: 0 20px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}


/**********Sign Up Page**********/


.sign_up {
  font-family:'Helvetica';
  margin: 50px 0;
  color: #204056;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom:5px;
  line-height:1.5em;
}
  /**********Get in touch**********/


.get_in_touch {
  font-family:'Helvetica';
  margin: 50px 0;
  color: #204056;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom:5px;
  line-height:1.5em;
}

/*******Flash Notices********/

.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/*******Footer********/
footer{
  font-size:.75 em;
  text-align:center;
  padding-top: 50px;
  color:#666666;
}
