<% if user_signed_in? %>

<% else %>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("logo.png", :alt => "logo", :title => "Home"), "/") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        </div>
        
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">I am A <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Individual</a></li>
            <li><a href="#">Employee</a></li>
            <li><a href="#">Employer</a></li>
            <li><a href="#">Broker</a></li>
            <li><a href="#">Practitioner</a></li>
            <li><a href="#">Vendor</a></li>
            <li class="divider"></li>
          </ul>
          <li><a href="#">Members</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Get In Touch</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>